<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Подтверждение регистрации!</title>
</head>
<body>
<div class="container">
   <h2>Мой заказ</h2>
    {% for product in products_in_cart %}
    <p>{{ product.title }} - {{ product.productCode }}</p>
    <p>Количество {{ count_one_product_in_cart[ product.id ] }}</p>
    {% endfor %}
    <p>Имя {{ message.name }}</p>
    <p>Телефон {{ message.phone }}</p>
</div>
</body>
</html>