{% extends 'base.html.twig' %}

{% block title %} Cart {% endblock %}
{% block leftSidebar %}{% endblock %}
{% block content %}
    <section id="cart_items">
        <div class="container">
            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="title">Title</td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product_in_cart in products_in_cart %}
                    <tr>
                        <td class="cart_product">
                            <a href="{{ product_in_cart.id }}"><img class="cart-foto" src="{{ asset( product_in_cart.image) }}" alt=""></a>
                        </td>
                        <td class="cart_description">
                            <h4>{{ product_in_cart.title }}</h4>
                            <p>Web ID: {{ product_in_cart.productCode }}</p>
                        </td>
                        <td class="cart_price">
                            <p>{{ product_in_cart.price }}$</p>
                        </td>
                        <td class="cart_price">
                            <div class="cart_quantity_button">
                                <p>{{ count_one_product_in_cart[ product_in_cart.id ] }}</p>
                            </div>
                        </td>
                        <td class="cart_total">
                            <p class="cart_total_price">{{ count_one_product_in_cart[ product_in_cart.id ] * product_in_cart.price }}$</p>
                        </td>
                        <td class="cart_delete">
                            <a class="cart_quantity_delete" href="{{ path('delete_in_cart', { id: product_in_cart.id }) }}"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                    <tr>
                    {% endfor %}
                        <td class="cart_product">
                        </td>
                        <td class="cart_description">
                        </td>
                        <td class="cart_price">
                        </td>
                        <td class="cart_quantity">
                            <h4>Total</h4>
                        </td>
                        <td class="cart_total">
                            <p class="cart_total_price">{{ total_price }}$</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <a href="{{ path('cart_checkout') }}" class="btn btn-default check_out">Сheckout</a>
        </div>
    </section> <!--/#cart_items-->
{% endblock %}