{% extends 'base.html.twig' %}

{% block title %}Home | E-Shopper{% endblock %}

{% block content %}
<div class="col-sm-9 padding-right">
    <div class="features_items"><!--features_items-->
        <h2 class="title text-center">Features Items</h2>
        {% for product in productsList %}
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <a href="{{ path('one_product', {'id': product.id }) }}">
                        <div class="productinfo text-center">
                            <img src="{{ asset(product.image) }}" alt=""/>
                            <h2>{{ product.price }}$</h2>
                            <p>{{ product.title }}</p>
                            <a href="{{ product.id }}" class="btn btn-default add-to-cart"><i
                                        class="fa fa-shopping-cart"></i>Add to cart</a>
                        </div>
                        <img src="{% if product.new == 1 %}{{ asset('images/home/new.png') }}{% endif %}" class="new" alt="" />
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div><!--features_items-->
    <div class="recommended_items"><!--recommended_items-->
        <h2 class="title text-center">recommended items</h2>
        <div class="cycle-slideshow"
             data-cycle-fx=carousel
             data-cycle-timeout=5000
             data-cycle-carousel-visible=3
             data-cycle-carousel-fluid=true
             data-cycle-slides="div.item"
             data-cycle-prev="#prev"
             data-cycle-next="#next"
        >
            {% for productRecommend in productsRecommended %}
                <div class="item">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="{{ asset(productRecommend.image) }}" alt="">
                                <h2>{{ productRecommend.price }}$</h2>
                                <p>{{ productRecommend.title }}</p>
                                <a href="{{ productRecommend.id }}" class="btn btn-default add-to-cart">
                                    <i class="fa fa-shopping-cart"></i>Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <a class="left recommended-item-control" id="prev" href="#recommended-item-carousel"
               data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="right recommended-item-control" id="next" href="#recommended-item-carousel"
               data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div><!--/recommended_items-->
</div>
{% endblock %}
