{% extends 'base.html.twig' %}

{% block title %} Product {% endblock %}
{% block content %}
    <div class="col-sm-9 padding-right">
        <div class="product-details"><!--product-details-->
            <div class="col-sm-5">
                <div class="view-product">
                    <img src="images/product-details/1.jpg" alt=""/>
                </div>


            </div>
            <div class="col-sm-7">
                <div class="product-information"><!--/product-information-->
                    <img src="{% if productDetails.new == 1 %}{{ asset('images/product-details/new.jpg') }}{% endif %}" class="newarrival" alt=""/>
                    <h2>{{ productDetails.title }}</h2>
                    <p>Web ID: {{ productDetails.id }}</p>
                    <img src="images/product-details/rating1.png" alt=""/>
                    <span>
									<span>US ${{ productDetails.price }}</span>
									<label>Quantity:</label>
									<input type="text" value="3"/>
									<button type="button" class="btn btn-fefault cart">
										<i class="fa fa-shopping-cart"></i>
										Add to cart
									</button>
								</span>
                    <p><b>Availability:</b>{% if productDetails.availability == 1 %} In Stock{% else %}Not In Stock{% endif %}</p>
                    <p><b>Brand:</b> {{ productDetails.brand }}</p>
                </div><!--/product-information-->
            </div>
        </div><!--/product-details-->

        <div class="category-tab shop-details-tab"><!--feedback-->
            <div class="col-sm-12">
                <ul class="nav nav-tabs">
                    <li><a href="#reviews" data-toggle="tab">Reviews (5)</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade active in" id="reviews">
                    <div class="feedback col-sm-12">
                        <ul>
                            <li><a href=""><i class="fa fa-user"></i>EUGEN</a></li>
                            <li><a href=""><i class="fa fa-clock-o"></i>12:41 PM</a></li>
                            <li><a href=""><i class="fa fa-calendar-o"></i>31 DEC 2014</a></li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <p><b>Write Your Review</b></p>

                        <form action="#">
										<span>
											<input type="text" placeholder="Your Name"/>
											<input type="email" placeholder="Email Address"/>
										</span>
                            <textarea name=""></textarea>
                            <b>Rating: </b> <img src="images/product-details/rating.png" alt=""/>
                            <button type="button" class="btn btn-default pull-right">
                                Submit
                            </button>
                        </form>
                    </div>
                </div>

            </div>
        </div><!--/feedback-->

        <div class="recommended_items"><!--recommended_items-->
            <h2 class="title text-center">recommended items</h2>
            <div class="cycle-slideshow"
                 data-cycle-fx=carousel
                 data-cycle-timeout=5000
                 data-cycle-carousel-visible=3
                 data-cycle-carousel-fluid=true
                 data-cycle-slides="div.item"
                 data-cycle-prev="#prev"
                 data-cycle-next="#next"
            >
                {% for productRecommend in productsRecommended %}
                    <div class="item">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="{{ asset(productRecommend.image) }}" alt="">
                                    <h2>{{ productRecommend.price }}$</h2>
                                    <p>{{ productRecommend.title }}</p>
                                    <a href="{{ productRecommend.id }}" class="btn btn-default add-to-cart">
                                        <i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <a class="left recommended-item-control" id="prev" href="#recommended-item-carousel"
                   data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="right recommended-item-control" id="next" href="#recommended-item-carousel"
                   data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div><!--/recommended_items-->

    </div>
{% endblock %}