{% extends 'base.html.twig' %}

{% block title %}<title>Home | E-Shopper</title>{% endblock %}
{% block leftSidebar %}{% endblock %}
{% block content %}
<h1>dsadas</h1>
    <ul>
{#        {% for product in category_product %}#}
{#            <h3>Product {{ product.id }}</h3>#}
{% for val in data %}
        <li>{{ val }}</li>

    {% endfor %}
{{ name }}

{#            <li><a href="">{{ product.title }}</a></li>#}
{#            <li><a href="">{{ product.price }}</a></li>#}
{#            <li><a href="">{{ product.description }}</a></li>#}
{#        {% endfor %}#}
    </ul>

{% endblock %}

{#
cat_id = id
#}